body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f7f7;
}

#root {
  margin-bottom: 100px;
}

.HomeScreen > .column,
.LoginScreen > .column,
.SignupScreen > .column {
  max-width: 450px;
  margin-top: 8em;
}
